//esquema de colores
//primer esquema de colores
$black: #000;
$gray: #8A8A8A;
$fucsia: #EF6DAD;


//tipografia
$Pacifico:'Pacifico', cursive;
$abel: 'Abel', sans-serif;


//pesos de fuentes
$regular: 400;


//tamaños de fuente
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;
