
.me__name{
  font-family: $Pacifico;
  font-size: $xxx-large;
  font-weight: $regular;
  text-align: center;
}

.me__contact{
  font-family: $abel;
  font-size: $medium;
  font-weight: bold;
  text-align: center;
}

.me__bio{
  font-family: $abel;
  font-size: $medium;
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
}

.me__line{
  width: 95%;
  border-width: 1px;
  border-color: $gray;
}

.section__photo{
width: 100px;
border-radius: 100px;
}

.me__icons{
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 601px) {
  .me {
    text-align: center;
    grid-column: 2 /2;
    grid-row: 1 / 3;
  }
}

@media only screen and (min-width: 601px) {
  .me__name {
    text-align: left;
    padding-left: 3%;
  }
}

@media only screen and (min-width: 601px) {
  .me__contact{
    text-align: left;
    padding-left: 3%;
  }
}

@media only screen and (min-width: 601px) {
  .me__icons{
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
  }
}
